#chat-input {
    background: none;
    color: var(--primary-light);
    border: 0.075rem solid var(--primary-light);
    border-radius: 0.75rem;
    padding: 0.1rem 0.5rem;
    margin: 1rem 0.5rem;
    font-family: Papyrus;
    font-weight: bold;
    font-size: 1rem;
    width: 80%;
}

.past-messages {
    position: absolute;
    bottom: 100%;
    background: var(--chat-box-color);
    display: block;
    z-index: 10;
    width: 222%;
    height: 30vh;
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    word-break: break-word;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    &.sidebar-channel {
        height: 84vh;
        max-height: 84vh;
        //background: none; //  *** A voir si je garde ca
    }
}

.chat-box {
    height: 50%;
    width: 80%;
    position: relative;
    display: inline-block;
}

.input-container {
    display: flex;
    align-items: center;
    background-color: var(--secondary-dark);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#chat-input:hover {
    background-color: var(--secondary-dark);
}

.input-container.logs-active {
    width: 222%;
    display: flex;
    justify-content: space-around;
}

.input-container.chat-active {
    width: 222%;
}

#chat-input {
    flex: 1;
}

.toggle-icon {
    cursor: pointer;
    margin-left: 0.4rem;
    font-size: 20px;
    color: var(--main-text-color);
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-size: cover;
    transition: transform 0.2s ease;
}

.icon-chat {
    background-image: url("../../../assets/images/icones/chat-message.png");
}

.icon-chat:hover {
    transform: scale(1.1);
}

.icon-logs {
    background-image: url("../../../assets/images/icones/logs.png");
}

.icon-logs:hover {
    transform: scale(1.1);
}

.filter-icon {
    cursor: pointer;
    margin-right: 0.5rem;
    font-size: 20px;
    color: var(--main-text-color);
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-size: cover;
    transform: scale(0.9);
}

input::placeholder {
    color: var(--primary-light);
    opacity: 1;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-dark);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.send-icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.5rem;
    cursor: pointer;
    filter: brightness(0) invert(1);
    transition: transform 0.15s ease;

    &:hover {
        transform: scale(1.15);
    }
}

