#map-grid {
    height: 85vh;
    width: 85vh;
    display: grid;
    position: relative;
    border-style: solid;
    border-width: 3px;
    border-image: var(--map-overlay);
    border-image-slice: 200;
}

#map-grid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.25) 25%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 75%,
        rgba(254, 255, 208, 0.25) 100%
    );
    pointer-events: none;
    z-index: 1;
}

.tile {
    border: solid 1px var(--primary-dark);
    font-size: 0;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile > img {
    position: absolute;
    object-fit: fill;
    display: block;
    width: 100%;
    max-height: 100%;
    outline: none;
    user-select: none;
}

.tile-image {
    z-index: 1;
}

.overlay-object {
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    transform: scale(0.9);
}

.player-on-spawn-points {
    z-index: 3;
    border-radius: 50%;
    transform: scale(0.9);
}

.reachable-tile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 255, 166, 0.3);
    z-index: 2;
    pointer-events: auto;
}

.fastest-path-tile {
    width: 30%;
    height: 30%;
    background: linear-gradient(to top right, rgba(27, 27, 27, 0.7), rgba(73, 73, 73, 0.7));
    border: 0.1rem solid var(--secondary);
    position: absolute;
    z-index: 4;
    border-radius: 50%;
    transform: scale(0.9);
    pointer-events: auto;
}

.targets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 255, 166, 0.3);
    z-index: 4;
    pointer-events: auto;
}
