.player-stats {
  font-family: papyrus;
  font-weight: 900;
  font-size: 0.95rem;
}

#player-name {
  margin: 0;
}

#photo-container {
  display: flex;
}

#player-attributes {
  flex-direction: column;
  width: 100%;
}

#player-image-container {
  flex-basis: 40%;
  justify-content: center;
  z-index: 1;
  &.disconnected img {
    border: 0.1rem solid gray;
    filter: grayscale(100%);
  }
}

#portrait {
  width: 100%;
  height: auto;
  border: 0.1rem solid #ffffff;
  border-radius: 10%;
}

#stats {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-top: -0.15rem;
  width: 70%;
}
.individual-stat {
  height: 33%;
  color: var(--primary-text);
}

.player-inventory {
  margin-top: 0.9rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  background: var(--secondary-fade);
}

#inventory-header {
  padding: 0;
  margin: 0.5rem 0 0 0;
  text-align: center;
}

#items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}

.player-items {
  margin-right: 1rem;
  margin-left: 1rem;
}

progress::-webkit-progress-bar {
  background-color: var(--secondary-very-light);
  border-radius: 0.5rem;
}

progress::-moz-progress-bar {
  transition: width 1s ease;
  border-radius: 0.5rem;
  background: linear-gradient(
    to right,
    rgb(51, 16, 16),
    rgb(93, 20, 20) 33%,
    rgb(142, 24, 24) 67%,
    rgb(175, 16, 16) 100%
  );
}

progress::-webkit-progress-value {
  transition: width 1s ease;
  border-radius: 0.5rem;
  background: linear-gradient(
    to right,
    rgb(51, 16, 16),
    rgb(93, 20, 20) 33%,
    rgb(142, 24, 24) 67%,
    rgb(175, 16, 16) 100%
  );
}

#hp-bar-container {
  display: flex;
}

#hp-bar {
  border: 1px solid rgb(197, 197, 197);
  width: 75%;
  border-radius: 0.5rem;
}

.points-text {
  margin-right: 1rem;
}

#movement-points,
#action-points {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-top: -0.2rem;
  margin-bottom: -1rem;
  padding: 0;
}

.movement-images {
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  margin: 0;
  margin-right: 1%;
  padding: 0;
}

.individual-stat {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  margin-left: 5%;
}

.stats-dice {
  display: block;
  margin-left: auto;
  padding: 0;
  height: 1.4rem;
  width: 1.4rem;
}

.movement-point,
.action-point {
  height: 1rem;
  width: 1rem;
  background-color: var(--primary);
  border-radius: 50%;
  margin-left: 0.5rem;
}

.empty-slot {
  padding: 5%;
  width: 6vh;
  height: 6vh;
  overflow: hidden;
  cursor: pointer;
  object-fit: cover;
  border-radius: 1rem;
  border: none;

  background-color: var(--secondary-very-dark);
}
