.background {
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background: var(--background-gradient-down);
}

.buttons-container {
  padding: 0;
  text-align: left;
  margin-left: 2em;
  margin-top: 0;
}

.button {
  border: none;
  margin: 0;
  padding: 4% 7% 2% 7%;
  text-align: center;
  color: var(--main-text-color);
  font-size: 1.4vw;
  font-family: "papyrus";
  font-weight: bold;
  width: 70%;
  background: transparent;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button::after {
  background: transparent;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.1s ease;
  z-index: -1;
  color: var(--inverted-text-color);
}

.button:hover {
  color: var(--inverted-text-color);
}

.button:hover::after {
  background: var(--footer-nav-button);
}

.input-box {
  background: none;
  color: var(--main-text-color);
  border: 0.05rem solid var(--primary-dark);
  border-radius: 0.75rem;
  padding: 0.5rem;
  margin: 0;
  font-family: Papyrus;
  font-weight: bold;
  font-size: 16px;
}

.input-box:hover {
  background: linear-gradient(
    to right,
    rgba(111, 109, 56, 0.4),
    rgba(177, 168, 131, 0.1)
  );
}

#mapDescription {
  resize: none;
  height: 23vh;
}

.map-description-box {
  height: 120%;
}

label {
  color: var(--primary-text);
  font-weight: bold;
  margin-bottom: 3%;
  font-family: Papyrus;
}

.map-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  margin-left: 6%;
  padding: 2%;
  width: 75%;
}

.page-element {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  height: 100%;
}

#return-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title {
  text-align: center;
  padding-left: 1.5rem;
  color: var(--main-text-color);
  margin: 10px;
  font-family: Papyrus;
  font-size: 24px;
  font-weight: 500;
  font-weight: bold;
}

.title:hover {
  cursor: default;
}

.left-container {
  margin-left: 2%;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  height: 90vh;
}

.right-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-grid-container {
  margin-top: 3%;
  display: flex;
  justify-content: left;
}

.fullscreen-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(12, 7, 27, 0.144);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  margin-right: 200px;
}

.visibility-option {
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.2rem;
  transition: background-color 0.2s;
  color: var(--main-text-color);
  &:hover {
    background-color: var(--primary-very-dark);
  }

  &.active {
    background-color: var(--primary-dark);
  }

  .icon {
    font-size: 18px;
  }

  .label {
    font-size: 14px;
    flex: 1;
  }

  .check-icon {
    font-weight: bold;
    margin-left: auto;
  }
}

.header {
  position: absolute;
}
