.dice-container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.dice {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0) rotateY(0);
    transition: transform 1s;
    will-change: transform;
    backface-visibility: hidden; 
}

.face {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    color: var(--inverted-text-color);
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    backface-visibility: hidden;
}

.face.one {
    transform: rotateY(0deg) translateZ(50px);
    background-image: url("../../../assets/images/dice/dice1.png");
    background-size: cover;
    background-position: center;

    border-radius: 10%;
}

.face.two {
    transform: rotateX(90deg) translateZ(50px);
    background-image: url("../../../assets/images/dice/dice2.png");
    background-size: cover;
    background-position: center;

    border-radius: 10%;
}

.face.three {
    transform: rotateY(-90deg) translateZ(50px);
    background-image: url("../../../assets/images/dice/dice3.png");
    background-size: cover;
    background-position: center;

    border-radius: 10%;
}

.face.four {
    transform: rotateY(90deg) translateZ(50px);
    background-image: url("../../../assets/images/dice/dice4.png");
    background-size: cover;
    background-position: center;

    border-radius: 10%;
}

.face.five {
    transform: rotateX(-90deg) translateZ(50px);
    background-image: url("../../../assets/images/dice/dice5.png");
    background-size: cover;
    background-position: center;

    border-radius: 10%;
}

.face.six {
    transform: rotateY(180deg) translateZ(50px);
    background-image: url("../../../assets/images/dice/dice6.png");
    background-size: cover;
    background-position: center;

    border-radius: 10%;
}

.dice.show-1 {
    transform: rotateX(0deg) rotateY(0deg);
}
.dice.show-2 {
    transform: rotateX(-90deg) rotateY(0deg);
}
.dice.show-3 {
    transform: rotateX(0deg) rotateY(90deg);
}
.dice.show-4 {
    transform: rotateX(0deg) rotateY(-90deg);
}
.dice.show-5 {
    transform: rotateX(90deg) rotateY(0deg);
}
.dice.show-6 {
    transform: rotateX(180deg) rotateY(0deg);
}

@keyframes spin {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.dice.rolling {
    animation: spin 1s infinite linear;
}
