#pop-up {
    background: var(--basic-gradient);

    font-family: "Papyrus", serif;
    font-weight: bold;
    color: var(--main-text-color);
    text-align: center;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.3);
    display: flex;
    flex-direction: column;
    > * {
        padding: 2rem 2rem;
    }
}

.dialog-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 130%;
}

button {
    font-family: "Papyrus";
    font-size: 110%;
    font-weight: 900;
    background: var(--basic-gradient);
    color: var(--main-text-color);
    border: 1px solid var(--inverted-text-color);
    margin-top: 5%;
    margin-bottom: 1%;
    height: 2.5rem;
}

.option-button {
    width: 40%;
    margin: 0;
    background: none;
    border: none;
    color: var(--main-text-color) !important;
    font-size: 1.5rem;
}

.cancel-button:hover {
    background-color: var(--primary);
    color: var(--inverted-text-color) !important;
}

.confirm-button:hover {
    background: linear-gradient(
        to right,
        rgba(255, 159, 159, 0.9) 25%,
        rgba(252, 135, 135, 0.9) 75%
    );
    color: var(--inverted-text-color) !important;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}

.mat-button {
    cursor: pointer;
    text-align: center;
    color: var(--main-text-color);
}
