.combat-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: var(--main-text-color);
    background: var(--background-gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    top: 0;
    left: 0;
    font-family: papyrus;
}

.top-section {
    flex: 0 0 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.middle-section {
    flex: 0 0 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.dice {
    height: 6rem;
    width: 6rem;
    background-image: url("../../../assets/images/icones/D4.png");
    background-size: cover;
}

.bottom-section {
    flex: 0 0 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--main-text-color);
}

.button-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--inverted-text-color);
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background: linear-gradient(
        to top right,
        rgb(39, 39, 39),
        rgb(88, 88, 88) 33%,
        rgb(162, 162, 162) 67%,
        rgb(220, 220, 220) 100%
    );
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.attack-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--inverted-text-color);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-image: url("../../../assets/images/icones/action.png");
    background-size: cover;
    background-position: center;
    transition:
        transform 0.3s ease,
        background-image 0.3s ease;
}

.evade-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--inverted-text-color);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-image: url("../../../assets/images/icones/evade.png");
    background-size: cover;
    background-position: center;
    transition:
        transform 0.3s ease,
        background-image 0.3s ease;
}

.button-outer:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 15px rgba(255, 0, 0, 0.6),
        0 0 25px rgba(255, 0, 0, 0.4);
}

.button-outer:hover .end-turn-button-inner {
    background-image: url("../../../assets/images/icones/next-turn-red.png");
    transform: scale(1.1);
}

.action-text {
    text-align: center;
    font-family: papyrus;
    font-size: 1.2rem;
    font-weight: 900;
    margin: 0;
    transition: color 0.3s ease;
}

.button-outer:hover .end-turn-text {
    color: red;
}

.player-img {
    height: 15rem;
    width: 15rem;
    background-size: cover;
    border-radius: 3rem;
    border: 0.3rem solid white;
    display: block;
}

.player-avatar-container {
    position: relative;
    display: inline-block;
}

.damaged-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease;
    border-radius: 3rem;
}

.player-avatar-container.damaged .damaged-overlay {
    background-color: rgba(141, 0, 0, 0.5);
}

.hp-value {
    margin-left: 2%;
}

.player-info {
    width: 35%;
    padding: 0;
    margin: 0;
}

.background-disabled {
    pointer-events: none;
}
.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

app-timer {
    height: 100%;
    width: 100%;
    margin-top: 10%;
}

.left-player {
    margin: 0;
}

.evasion-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.evasions-remaining {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
    gap: 5%;
}

.evasion-point {
    height: 0.5rem;
    width: 40%;
    border-radius: 3rem;
    background-color: var(--primary);
}

.display {
    width: 50%;
    height: 40%;
    margin-top: 2%;
    margin-left: -2%;
    border: 0.1rem solid var(--primary);
    border-radius: 5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-family: Papyrus;
}

.disabled {
    pointer-events: none;
    filter: grayscale(70%) brightness(50%);
}

.dice-container {
    height: 65%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-and-dice-value {
    border-radius: 1.4rem;
    margin: 0;
    margin-bottom: -2rem;
    height: 5rem;
    width: 9rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: papyrus;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.evasion-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0.4rem;
    font-size: 0.8rem;
}

.active-player-border {
    border: 0.3rem solid var(--warning-color);
}

.turn-message {
    position: fixed;
    top: 22.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--footer-nav-button);
    width: 45%;
    height: 10%;
    font-family: "Franklin Gothic Medium";
    font-weight: bold;
    font-size: 2.25rem;
    color: var(--inverted-text-color);
    border-radius: 4remx;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
