.player-stats {
    display: flex;
    align-items: center;
    width: 73vw;
    border-top: 0.08rem solid var(--inverted-text-color);
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0),
        rgba(132, 132, 132, 0.2),
        rgba(163, 163, 163, 0.25)
    );
}

.player {
    flex: 1 1 19.5%;
    display: flex;
    align-items: center;
}

.player-img {
    height: 5.1rem;
    width: auto;
    margin: 0;
    margin-right: 7.5%;

    -webkit-mask-image: linear-gradient(to right, var(--inverted-text-color) 95%, transparent 100%);
    mask-image: linear-gradient(to right, var(--inverted-text-color) 95%, transparent 100%);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.stat {
    text-align: center;
    flex: 1 1 5%;

    flex-direction: column;
    flex-direction: center;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.attr-value.highlight {
    color: var(--primary-text);
}

.record {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.active {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0),
        rgba(255, 240, 152, 0.15),
        rgba(255, 240, 152, 0.25)
    );
}

.decoration {
    width: 2.5rem;
    height: 3.75rem;
}

.name {
    text-align: center;
    font-size: 1rem;
}

.name.disconnected {
    color: var(--secondary-light);
    text-decoration: line-through;
}

img.disconnected {
    filter: grayscale(100%);
}

.admin {
    color: var(--warning-color);
}

.bot {
    color: cyan;
}

.bar {
    width: 100%;
    height: 100%;
    margin: 0;

    display: flex;
    align-items: center;

    background-color: var(--main-text-color);
    z-index: 2;
    border-radius: 0.3rem;
    transition: width 0.3s ease;

    position: absolute;
    top: 0;
    left: 0;
}

.full-bar {
    width: 100%;
    height: 100%;
    background-color: rgb(96, 80, 80);
    border-radius: 0.3rem;
    z-index: 1;

    position: absolute;
    top: 0;
    left: 0;
}

.bar-container {
    position: relative;
    height: 0.4rem;
    width: 60%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar.highlight {
    background-color: var(--primary);
}

.attr-value {
    margin: 0;
    font-size: 1.2rem;
}

.txt {
    margin: 0.05rem;
}

.decoration-bar {
    width: 0.3rem;
    height: 5rem;
    background-color: var(--secondary-very-light);
    display: flex;
    justify-content: flex-start;
    border: 0.05rem solid var(--inverted-text-color);
}

.self {
    background-color: var(--primary);
}

.player-stats.disconnected {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0),
        rgba(181, 5, 5, 0.2),
        rgba(181, 5, 5, 0.25)
    );
}

.disconnected > .decoration-bar {
    background-color: rgb(200, 32, 32);
}
