.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-logo {
    margin-top: 0%;
    margin-left: 15%;
    width: 35%;
}

.title-pg-links {
    text-align: left;
    align-self: flex-start;
    margin-left: 12%;
}

.button {
    margin: 0;
    margin: 0;
    padding: 4% 2% 2% 5%;
    text-align: left;
    color: white;
    font-size: 175%;
    font-family: "papyrus";
    font-weight: bold;
    width: 25rem;
    cursor: pointer;

    position: relative;
    display: inline-block;
    z-index: 1;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.1s ease;
    z-index: -1;
}

.button:hover::after {
    background: var(--menu-hover-button);
    border-radius: 5px;
}

.button:hover {
    color: var(--inverted-text-color);
}

@media only screen and (max-width: 1000px) {
    .game-logo {
        align-items: center;
        margin-top: 5%;
        width: 80%;
    }
    .title-page-links {
        align-items: center;
    }
    .button {
        width: 100%;
    }
}
.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: white;
}

.header-item {
    justify-content: center;
    text-align: center;
    color: white;
}

.footer-item {
    text-align: center;
}

.footer-item p {
    color: white;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

app-global-chat-box {
    position: fixed;
    bottom: 50px;
    right: 180px;
    z-index: 9999;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    // justify-content: center;
    gap: 1rem;
}

.hover-arrow {
    height: 3rem;
    width: 3rem;
    opacity: 0;
    flex-shrink: 0;
}

.button-container:hover .hover-arrow {
    opacity: 1;
}

.background-image {
    background-color: var(--inverted-text-color);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
