#pop-up {
    background: var(--secondary-very-dark);
    font-family: "Papyrus";
    font-weight: bold;
    color: var(--main-text-color);
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dialog-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.size-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 120%;
    border-radius: 100rem;
}

.title {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 130%;
}

button {
    font-family: "Papyrus";
    font-size: 110%;
    font-weight: 900;
    background: var(--secondary-dark);
    color: var(--main-text-color);
    border: 1px solid var(--inverted-text-color);
    margin-top: 5%;
    margin-bottom: 1%;
    height: 2.5rem;
}

.game-mode-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin: 0;
}

.option-button {
    width: 40%;
    margin: 0;
    background: none;
    border: none;
    color: var(--main-text-color);
    font-size: 1.5rem;
}

.option-button:hover {
    color: var(--inverted-text-color);
    background: var(--footer-nav-button);
}

button.selected {
    border: 2px solid var(--inverted-text-color);
    color: var(--inverted-text-color);
    font-size: 110%;
    font-weight: 900;
    background-color: var(--primary);
}

button.select {
    border: 2px solid var(--inverted-text-color);
    font-weight: 900;
    color: var(--inverted-text-color);
    background-color: var(--primary);
    text-align: center;
}

.game-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    margin-top: 0.2rem;
    text-align: center;
}

.game-size {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}

button {
    cursor: pointer;
    text-align: center;
}
