.tile-player-info {
    background-color: var(--secondary-dark);
    color: var(--main-text-color);
    height: 50.5%;
    width: 20vw;
    padding: 2%;
    z-index: 999;
    border-radius: 2rem;
    position: absolute;
    top: 15%;
    left: 75.5%;
    display: flex;
    flex-direction: column;
}

.small-image {
    height: 6rem;
    width: 6rem;
    align-self: center;
    border-radius: 1rem;
}

.big-image {
    height: 10rem;
    width: 10rem;
    align-self: center;
    border-radius: 1rem;
}

.small-text {
    margin: 0;
    font-size: 0.85rem;
}

.info {
    margin-top: -1.5rem;
    display: flex;
    flex-direction: column;
}

h2,
h4 {
    text-align: center;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}

.close-button {
    margin-top: 0.8rem;
    width: 90%;
    color: var(--inverted-text-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Franklin Gothic Medium";
    font-weight: bold;
    background-color: var(--primary);
    border: none;
    border-radius: 1rem;
    align-self: center;
    transition: transform 0.2s ease;
}

.close-button:hover {
    transform: scale(1.05);
    background-color: var(--primary-dark);
    color: var(--main-text-color);
}

.img-container {
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.stats {
    margin-top: 0.4rem;
    display: flex;
    flex-direction: row;
}

.stats-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    margin-left: -1.25rem;
}

li {
    width: 110%;
}

.center-text {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0.1rem;
}
