.stat {
    text-align: center;
    flex: 1 1 5%;

    flex-direction: column;
    flex-direction: center;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.attr-value {
    margin: 0;
    font-size: 1.2rem;
}

.attr-value.highlight {
    color: var(--primary-text);
}

.record {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.txt {
    margin: 0.05rem;
}

.bar {
    width: 100%;
    height: 100%;
    margin: 0;

    display: flex;
    align-items: center;

    background-color: var(--main-text-color);
    z-index: 2;
    border-radius: 0.3rem;
    transition: width 0.3s ease;

    position: absolute;
    top: 0;
    left: 0;
}

.full-bar {
    width: 100%;
    height: 100%;
    background-color: rgb(96, 80, 80);
    border-radius: 0.3rem;
    z-index: 1;

    position: absolute;
    top: 0;
    left: 0;
}

.bar-container {
    position: relative;
    height: 0.4rem;
    width: 4.5rem;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar.highlight {
    background-color: var(--primary);
}
