.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.2s ease;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.2rem;
}

.clickable-icon {
    border-radius: 0.5rem;
    color: var(--main-text-color);

    .channel-item.selected & {
        color: var(--inverted-text-color);
    }
}

.channel-item.selected .clickable-icon:hover,
.clickable-icon:hover {
    background: rgb(67, 67, 67);
    color: var(--main-text-color);
}

.channels-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 0.2rem;
    font-weight: 700;
    color: var(--main-text-color);
    height: 2.5rem;
    gap: 1rem;
}

.search-channel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    color: var(--main-text-color);
    height: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.search-channel:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.search-channel-text {
    margin-top: 0.3rem;
    font-size: 0.85rem;
}

.channels-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    height: 30rem;
    overflow-y: auto;
}

.channel-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--secondary-light);
    color: var(--main-text-color);
    cursor: pointer;
    transition: background-color 0.2s ease;
    height: 2rem;
}

.channel-item:hover {
    background-color: var(--primary-very-dark);
}

.create-channel-actions {
    display: flex;
}

.new-channel {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

input {
    padding: 0.1rem 1rem;
    background: none;
    border: 1px solid var(--primary);
    border-radius: 3rem;
    font-family: "Papyrus";
    font-weight: bold;
    font-size: 1rem;
    color: var(--main-text-color);
    width: 60%;
}

.channels-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    .channels-list {
        flex: 1;
        overflow-y: auto;
        padding: 10px 0;

        .channel-item {
            &.selected {
                background: var(--primary);
                .channel-name {
                    color: var(--inverted-text-color);
                    font-weight: 600;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 3px;
                    border-radius: 0 2px 2px 0;
                }
            }
        }
    }
}

.channel-actions {
    display: flex;
    gap: 0.3rem;
}
